@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    vertical-align: middle;
    color: white;
    margin-left: 20px;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    margin-left: 20px;
}

p {
    margin-top: 10px;
    margin-left: 20px;
}

h1.contact {
    float: right;
    margin-right: 2%;
}

h1.name {
    float: left;
    font-size: 50px;
}

h1.contact, h1.name {
    margin-top: 10px;
}

.banner {
    background-color: rgba(15, 15, 15, 0.90);
    margin: 0;
    height: 140px;
    line-height: 140px;
    clear: both;

}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.facePic {
    float: left;
}

.about {
    padding-top: 0.75em;
    background-color: rgba(40, 143, 254, 0);
    color: #373737;
    height: 500px;
    margin-left: 30px;
}

.wrapper-about{
    margin-left: 340px;
    max-width: 1000px;
}

.me {

}

.education {
    margin-top: 37%;
    color: black;
}

.container-current {
    position: relative;
}

.wrapper-current {
    z-index: 100;
}

.suitImage {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 100px;
}

.insideCurrent {
    color: white;
    position: absolute;
    margin-top: 10px;
}

.insideCurrentText {
    position: absolute;
    margin-top: 60px;
    color: white;
    margin-right: 66%;
}

.experience {
    background-color: #000000;
    color: white;
    height: 400px;
}

#owl-demo .item img{
    display: block;
    height: auto;
}