@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

/* ||||||||||||||||||||
   ||                ||
   ||    Standard    ||
   ||                ||
   |||||||||||||||||||| */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
}

h1 {
    margin: 0;
    vertical-align: middle;
    color: white;
    margin-left: 20px;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 38px;
    margin-left: 20px;
}

p {
    margin-top: 10px;
    margin-left: 20px;
}

/* ||||||||||||||||||||
   ||                ||
   ||    Banner      ||
   ||                ||
   |||||||||||||||||||| */

.banner {
    background-color: rgba(15, 15, 15, 0.90);
    margin: 0;
    height: 140px;
    line-height: 140px;
    clear: both;
}

h1.contact {
    float: right;
    margin-right: 2%;
}

h1.name {
    float: left;
    font-size: 50px;
}

h1.contact, h1.name {
    margin-top: 10px;
}

.linkedin {
    clear: both;
}

/* ||||||||||||||||||||
   ||                ||
   ||    About Me    ||
   ||                ||
   |||||||||||||||||||| */

.about {
    width: 100%;
    position: relative;
}

div .bgpic {
    background: url("../img/face.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: absolute;
    margin-bottom: 30%;
}

div .wrapper-about-text {
    margin-top: 100px;
    position: absolute;
    background: rgba(15, 15, 15, 0.90);
    padding: 10px;
    border: 1px solid black;
    padding-bottom: 1.0em;
    padding-top: 1.0em;
    width: 600px;
    margin-left: 3%;
    line-height: 35px;
    
}

.about-text {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
}

.me, .about-text {
    color: white;
    width: 550px;

}

/* ||||||||||||||||||||
   ||                ||
   || School Section ||
   ||                ||
   |||||||||||||||||||| */

.education {
    height: 450px;
    border-top: 3px solid black;
    margin-top: 850px;
}

.school, .honors, .extracurricular {
    float: left;
    width: 33%;
    height: 450px;
    margin-top: 5px;
}

.school, .honors {
    border-right: 2px black solid;
}

.education-header {
    display: inline-block;
}

.uwlogo {
    width: 150px;
    margin-left: 20%;
}

.education-icon {
    width: 100px;
    float: right;
    margin-right: 25px;
}

.professional-experience {
    clear: both;
    margin-top: 40%;
}

/* ||||||||||||||||||||
   ||                ||
   ||    Current   ||
   ||                ||
   |||||||||||||||||||| */

.experience {
    background-color: #000000;
    color: white;
    height: 400px;
}

.container-current {
    position: relative;
}

.wrapper-current {
    z-index: 100;
}

.suitImage {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 100px;
}

.insideCurrent {
    color: white;
    position: absolute;
    margin-top: 10px;
}

.insideCurrentText {
    position: absolute;
    margin-top: 8%;
    color: white;
    margin-right: 50%;
    padding-left: 40%;
    width: 50%;
}

/* ||||||||||||||||||||
   ||                ||
   ||  Owl Carousel  ||
   ||                ||
   |||||||||||||||||||| */

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    border: 1px black solid;
}

.owl-container {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}