
/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    background: url(../img/buttons/forward.png) no-repeat;
    display:block;
    width:300px;
    height:300px;
    float:left;
    cursor:pointer;
    z-index: 10000;
}

/* right */
a.right {
    margin-right: 0px;
    float: right;
    z-index: 10000;
}

/*a.right:hover { background-position:-30px -30px; }*/

a.right:active {
    background-position: 20px 0;
}


/* left */
a.left { margin-left: 0px; }
/*a.left:hover  { background-position:-30px 0; } */
a.left:active {
    background-position: -20px 0;
}

/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}
