/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.scrollable {
    /* required settings */
    position:relative;
    overflow:hidden;
    width: 1500px;
    height:300px;
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:10000em;
    position:absolute;
    clear:both;
    z-index: -1;
}

.items {
    margin-left: 250px;
}

.items div {
    float:left;
    width:10000px;
    z-index: -1;
}

/* single scrollable item */
.job1, .job2, .job3 {
    float:left;
    background-color:#fff;
    width:500px;
    height:100px;
    display: block;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}

